
.page-steps-global-checker {

    .form-check-input {

        margin-top: 0;
        border-color: var(--bs-primary);
        
        &:focus {
            border-color: var(--bs-primary);
        }

    }

    .checked-steps-action-btn {

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 1.5rem;
        width: 1.5rem;
        
    }

}