.guide-data {

    .save-guide-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.375rem;
        height: 2.375rem;
        padding: 0;
    }

}