
.workspace-main-container {

    border: transparent solid 1px;

    & > .nav-tabs {

        .nav-item {

            .add-guide-button {

                display: flex;
                align-items: center;
                padding: 0;
                height: 100%;
                width: 2.5rem;
                justify-content: center;
                height: 2.625rem;

            }

            $icon-size: 2rem;

            .nav-link.has-changes {

                position: relative;
                padding-right: $icon-size;

                .has-changes-icon{

                    position: absolute;
                    color: rgb(255, 136, 0);
                    right: 0;
                    top: calc(50% - calc($icon-size/2))

                }

            }
            

        }
    }
}

#root > .clipboard-toast {

    position: fixed;
    z-index: calc(1050 - 1);
    right: 1rem;
    top: 1rem;

}